.right{
  float: right;
}
.left{
  float: left;
}

.buttons-columnVisibility.active{
  background: #3c8dbc !important;
}
.llistes{
  display: flex;
}

.column1, .column2{
  width: 40%;
}
.column2{
  margin-left:20%;
}
.titol, .vs-titol{
  text-transform: uppercase;
    font-weight: bold;
    color: #3c8dbc;
    font-size: 20px;
}
.vs-titol{
  margin-left:15%;
}